

body {
  font-family: "IBM Plex Sans", sans-serif;
}

/* MAIN SECTION */
.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.main-page-section {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  height: calc(100vh - 1.5rem);
  min-width: 320px;
  max-width: 440px;
  background-color: #23202b;
  color: rgba(245, 245, 245, 0.971);
  box-shadow: 0px 0px 20px 10px #00000069;
  border: 8px solid;
  border-image: linear-gradient(#ff512f,
      #dd2476,
      #1c64ff) 1;
  animation: rotate 2.5s ease-in infinite;
}



.content-wrapper {
  position: absolute;
}


.video {
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.video-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-logo {
  text-align: center;
  margin: 1rem;
}

.main-logo img {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}

.title {
  font-family: 'Games', sans-serif;
  letter-spacing: .3rem;
}

.title h2 {
  color: #ff512f;
}


.user-content {
  display: block;
  margin-top: 3rem;
  font-size: 1rem;
  letter-spacing: .2rem;
  font-weight: bold;
  font-family: 'Games', sans-serif;
}

.error {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: normal;
  color: red;
  padding-top: .5rem;
}

.username {
  font-family: "IBM Plex Sans", sans-serif;
  border: 3px solid #1c64ff;
}

.start-btn {
  width: min-content;
  margin: 2.8rem auto;
  color: #151515;
  padding: .5rem 1.5rem;
  border: 3px solid;
  border-image: linear-gradient(#1c64ff,
      #dd2476,
      #ff512f) 1;
  animation: rotate-1 2.5s ease-in infinite;
  position: relative;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  color: #ff512f;
  font-weight: bold;
}



.start-btn::before,
.start-btn::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: all .5s;
}

.start-btn::before {
  top: -10px;
  left: -10px;
  border-width: 3px 0 0 3px;
}

.start-btn::after {
  bottom: -10px;
  right: -10px;
  border-width: 0 3px 3px 0;
}

.start-btn:hover::before,
.start-btn:hover::after {
  width: calc(100% + 16px);
  height: calc(100% + 16px);
}

.ranking-button {
  text-align: center;
  font-size: 1.3rem;
  color: #e3ba13;
}


/* START GAME SECTION */

.start-game-section {
  font-family: 'Games', sans-serif;
  display: none;
  position: relative;
  flex-direction: column;
  text-align: center;
  height: calc(100vh - 1.5rem);
  min-width: 320px;
  max-width: 440px;
  background-color: #23202b;
  color: rgba(245, 245, 245, 0.971);
  box-shadow: 0px 0px 20px 10px #00000069;
  border: 8px solid;
  border-image: linear-gradient(#ff512f,
      #dd2476,
      #1c64ff) 1;
  animation: rotate 2.5s ease-in infinite;
}

.game-content-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.start-game {
  display: block;
  font-size: 1.6rem;
  letter-spacing: .4rem;
}

.second-ranking-btn {
  position: absolute;
  width: 100%;
  top: 16rem;
}


.game-btn {
  display: inline-block;
  color: #fff;
  background-color: #151515;
  text-decoration: none;
  padding: 20px 50px;
  border: 3px solid #3c67e3;
  border-radius: 10px;
  position: relative;
  font-size: 1.4rem;
  letter-spacing: .2rem;
}

.game-btn:hover{
  animation: pulsate 1s ease-in-out;
}



.get-ready {
  display: none;
}


.ufo {
  display: none;
  height: 2rem;
  width: 2rem;
}



/* FINISH SECTION */
.finish-section {
  display: none;
  font-family: 'Games', sans-serif;
  position: relative;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  height: 35rem;
  min-width: 320px;
  max-width: 440px;
  background-color: #23202b;
  color: rgba(245, 245, 245, 0.971);
  box-shadow: 0px 0px 20px 10px #00000069;
  border: 8px solid;
  border-image: linear-gradient(#ff512f,
      #dd2476,
      #1c64ff) 1;
  animation: rotate 2.5s ease-in infinite;
}

.finish-wrapper {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.finish-wrapper h1 {
  color: #dd2476;
}

.finish-wrapper h3 {
  font-size: 1.2rem;
  letter-spacing: .4rem;
  font-weight: normal;
  line-height: 2rem;
  padding-bottom: 3rem;
}

.play-again-btn {
  width: 10rem;
  padding: .5rem;
  align-items: center;
}

.third-ranking-btn {
  position: absolute;
  width: 100%;
  top: 32rem;
}


/* RANKING */

.ranking {
  display: none;
  font-family: 'Games', sans-serif;
  flex-direction: column;
  align-items: center;
  font-family: 'Games', sans-serif;
  letter-spacing: .3rem;
  min-width: 320px;
  width: 60vw;
  height: 620px;
  color: #ffffffbf;
  border: 8px solid;
  border-image: linear-gradient(#ffffffbf,
  #403f3f,
  #776e6e) 1;
  animation: rotate-3 2.5s ease-in infinite;
}

.ranking-wrapper {
  display: grid;
  grid-template-rows: 570px;
}

.back-btn {
  display: none;
  font-size: 1.8rem;
  color: #ff512f;
}




