* {
  font-family: "IBM Plex Sans", sans-serif;
}

/* MAIN SECTION */
.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.main-page-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 35rem;
  min-width: 320px;
  max-width: 430px;
  background-color: #151515;
  color: rgba(245, 245, 245, 0.971);
  box-shadow: 0px 0px 20px 10px #00000069;
  border: 8px solid;
  border-image: linear-gradient(
    #ff512f,
    #dd2476,
    #1c64ff) 1;
    animation: rotate
    2.5s
    ease-in
    infinite; 
}

@keyframes rotate {
  50% {
    border-image:
    linear-gradient(
      360deg,
      #ff512f,
      #dd2476,
      #1c64ff
    ) 1;
  }
} 



.user-content {
  display: block;
  flex-direction: column;
  justify-content: center;
}

.username {
  width: min-content;
}

.general-start-btn {
  width: min-content;
}

.ranking-button {
  text-align: center;
}

.main-logo {
  text-align: center;
  margin-bottom: 1rem;
}

.main-logo img {
  border-radius: 50%;
  height: auto;
  width: auto;
}

/* START GAME SECTION */

.start-game-section {
  display: none;
  border: 1px solid black;
  border: 1px solid black;
  height: 35rem;
  width: 17rem;
  padding: 2rem;
}

.game-logo {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.game-logo img {
  height: auto;
  width: auto;
}



/* FINISH SECTION */
.finish-section {
  display: none;
}
