/* MEDIA QUERIES */

@media only screen and (min-width: 320px) and (max-width: 440px) {
  .main-page-section {
    min-width: 320px;
    max-width: 440px;
    height: calc(100vh - 1.5rem);
  }

  .start-game-section {
    min-width: 320px;
    max-width: 440px;
    height: calc(100vh - 1.5rem);
  }

  .finish-section {
    min-width: 320px;
    max-width: 440px;
    height: calc(100vh - 1.5rem);
  }
}


/* Tablets */
@media only screen and (min-width: 441px) and (max-width: 768px) {
  .main-page-section {
    min-width: 441px;
    max-width: 768px;
    height: calc(100vh - 1.5rem);
  }

  .start-game-section {
    min-width: 441px;
    max-width: 768px;
    height: calc(100vh - 1.5rem);
  }

  .finish-section {
    min-width: 441px;
    max-width: 768px;
    height: calc(100vh - 1.5rem);
  }
}



/* Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-page-section {
    min-width: 769px;
    max-width: 1024px;
    height: calc(100vh - 1.5rem);
  }

  .start-game-section {
    min-width: 769px;
    max-width: 1024px;
    height: calc(100vh - 1.5rem);
  }

  .finish-section {
    min-width: 768px;
    max-width: 1024px;
    height: calc(100vh - 1.5rem);
  }
}


/* Desktop and large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .main-page-section {
    min-width: 1025px;
    max-width: 1200px;
    height: calc(100vh - 1.5rem);
    border: none;
  }

  .start-game-section {
    min-width: 1025px;
    max-width: 1200px;
    height: calc(100vh - 1.5rem);
  }

  .finish-section {
    min-width: 1025px;
    max-width: 1200px;
    height: calc(100vh - 1.5rem);
  }

  .game-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .start-game {
    margin-top: 150px;
  }

  .finish-wrapper {
    display: flex;
    flex-direction: row;
  }

  .ranking-button {
    display: none;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .content-items {
    width: 500px;
    height: 590px;
  }

  .error {
    padding-left: 5rem;
    padding-right: 5rem;
  }


  .ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 590px;
    font-family: 'Games', sans-serif;
    letter-spacing: .3rem;
    color: #ff512f;
    border: 8px solid;
    border-image: linear-gradient(#ff512f,
        #dd2476,
        #1c64ff) 1;
    animation: rotate 2.5s ease-in infinite;
  }


  .main-logo {
    margin-bottom: 4rem;
  }

  .title {
    margin-bottom: 5rem;
  }
}


/* Extra large screens */
@media only screen and (min-width: 1201px) {
  .main-page-section {
    min-width: 1201px;
    max-width: 100vw;
    height: calc(100vh - .3rem);
    border: none;
  }

  .start-game-section {
    min-width: 1201px;
    max-width: 100vw;
    height: calc(100vh - 1.5rem);
  }

  .finish-section {
    min-width: 1201px;
    max-width: 100vw;
    height: calc(100vh - 1.5rem);
  }

  .game-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .start-game {
    margin-top: 150px;
  }

  .finish-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .finish-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 100%;
  }

  .ranking-button {
    display: none;
  }


  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .content-items {
    width: 600px;
    height: 590px;
    padding: 15px;
    border: 8px solid;
    border-image: linear-gradient(#ff512f,
        #dd2476,
        #1c64ff) 1;
    animation: rotate 2.5s ease-in infinite;
  }

  .error {
    padding-left: 5rem;
    padding-right: 5rem;
  }


  .ranking {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 620px;
    align-items: center;
    font-family: 'Games', sans-serif;
    letter-spacing: .3rem;
    color: #ff512f;
    border: 8px solid;
    border-image: linear-gradient(#ff512f,
        #dd2476,
        #1c64ff) 1;
    animation: rotate 2.5s ease-in infinite;
  }


  .main-logo {
    margin-bottom: 4rem;
  }

  .title {
    margin-bottom: 5rem;
  }
}